{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Page info -->
<div
  class="page-info-section set-bg"
  data-setbg="{% static 'webuni/img/page-bg/1.jpg' %}"
>
  <div class="container">
    <div class="site-breadcrumb">
      <a href="#">Home</a>
      <span>Courses</span>
    </div>
  </div>
</div>
<!-- Page info end -->

<!-- Search section -->
<section class="search-section ss-other-page">
  <div class="container">
    <div class="search-warp">
      <div class="section-title text-white">
        <h2><span>Search your course</span></h2>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <!-- Search form -->
          <form
            method="GET"
            class="course-search-form"
            action="{% url 'courses:course_search' %}"
          >
            <input
              type="text"
              name="q"
              placeholder="Course Title"
              value="{{ request.GET.q|capfirst }}"
            />
            <input
              type="text"
              name="category"
              placeholder="Category"
              value="{{ request.GET.category|capfirst }}"
            />
            <button type="submit" class="site-btn btn-dark">
              Search Course
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Search section end -->

<div class="course-warp">
  <ul class="course-filter controls">
    <li class="control active" data-filter="all">All Courses</li>
  </ul>
  <div class="featured-courses">
    <div class="featured-course course-item">
      <div class="row">
        {% for course in courses %}
        <div class="col-lg-6 pb-4">
          <div class="course-info rounded">
            <div class="course-text">
              <h5>Category: {{ course.category|capfirst }}</h5>
              <div class="fet-note">{{ course.club.tier|capfirst }}</div>
              <a href="{% url 'courses:course_detail' course.slug %}">
                <h3>{{ course.title|capfirst }}</h3>
              </a>
              <p class="text-muted text-small">
                {{ course.duration|capfirst }}
              </p>
              <p>{{ course.description }}</p>
              <div class="students">{{ course.student_count }} Students</div>
            </div>
            <div class="course-author d-flex">
              <img
                class="rounded-circle img-fluid"
                style="width: 80px; height: 80px"
                src="{{course.creator.profile.profile_pic.url}}"
                alt=""
              />
              <p>Created By: {{ course.creator.username|capfirst }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
