{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Page info -->
<div
  class="page-info-section set-bg"
  id="about-us-info-section"
  data-setbg="{% static 'webuni/img/page-bg/4.jpg' %}"
>
  <div class="container">
    <div class="site-breadcrumb">
      <a href="#">Home</a>
      <span>About</span>
    </div>
  </div>
</div>
<!-- Page info end -->

<section class="about-us py-5" id="about-us">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h1 class="primary-text py-5">Welcome to CoursePro!</h1>
        <h2>Know More About Us</h2>
        <hr />
        <p>
          CoursePro is an online learning platform that offers a wide range of
          courses for students of all ages and skill levels. Our mission is to
          provide high-quality education that is accessible to everyone, no
          matter where they are in the world.
        </p>
        <p>
          Our courses are taught by experienced instructors who are experts in
          their fields. We offer courses in subjects such as programming, web
          development, graphic design, business, and more. Whether you're
          looking to learn a new skill, advance your career, or just explore a
          new topic, we have a course for you.
        </p>
        <p>
          Our platform is designed to be easy to use and accessible on any
          device. You can learn at your own pace, on your own schedule, and from
          anywhere in the world. We also offer a variety of resources and tools
          to help you succeed, including quizzes, assignments, and discussion
          forums.
        </p>
        <p>
          Join the CoursePro community today and start learning from the best!
        </p>
        <button type="button" class="btn btn-primary-color">
          Let's Know More
        </button>
      </div>
      <div class="col-md-6">
        <img src="{% static 'webuni/img/about.jpg'%}" alt="about" />
      </div>
    </div>
  </div>
</section>
{% endblock %}
