{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Page info -->
<div
  class="page-info-section set-bg"
  id="about-us-info-section"
  data-setbg="{% static 'webuni/img/page-bg/4.jpg' %}"
>
  <div class="container">
    <div class="site-breadcrumb">
      <a href="#">Home</a>
      <span>About</span>
    </div>
  </div>
</div>
<!-- Page info end -->

<section class="about-us py-5" id="about-us">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h1 class="primary-text py-5">Welcome to CoursePro!</h1>
        <h2>Know More About Us</h2>
        <hr />
        <p>
          We are passionate about learning and dedicated to providing
          high-quality education to learners of all ages and backgrounds. Our
          mission is to make education accessible and enjoyable for everyone,
          empowering individuals to achieve their full potential.
        </p>
        <p>
          Our vision is to create a global learning ecosystem where knowledge
          knows no boundaries. We aim to foster a love for learning, enabling
          people from all walks of life to enhance their skills, grow their
          careers, and explore new horizons.
        </p>
        <p>
          Our platform is designed to be easy to use and accessible on any
          device. You can learn at your own pace, on your own schedule, and from
          anywhere in the world. We also offer a variety of resources and tools
          to help you succeed, including quizzes, assignments, and discussion
          forums.
        </p>
        <p>
          Join the CoursePro community today and start learning from the best!
        </p>
        <button type="button" class="btn btn-primary-color">
          Let's Know More
        </button>
      </div>
      <div class="col-md-6">
        <img src="{% static 'webuni/img/about.jpg'%}" alt="about" />
      </div>
    </div>
  </div>
</section>
{% endblock %}
