{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Page info -->
<div
  class="page-info-section set-bg"
  data-setbg="{% static 'webuni/img/page-bg/5.jpg' %}"
>
  <div class="container">
    <div class="site-breadcrumb">
      <a href="/">Home</a>
      <span>Contact</span>
    </div>
  </div>
</div>
<!-- Page info end -->

<!-- search section -->
<section class="search-section ss-other-page">
  <div class="container">
    <div class="search-warp">
      <div class="section-title text-white">
        <h2><span>Search for Your Course</span></h2>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <!-- search form -->
          <form
            method="GET"
            class="course-search-form"
            action="{% url 'courses:course_search' %}"
          >
            <input
              type="text"
              name="q"
              placeholder="Course Title"
              value="{{ request.GET.q }}"
            />
            <input
              type="text"
              name="category"
              placeholder="Category"
              value="{{ request.GET.category }}"
            />
            <button type="submit" class="site-btn btn-dark">
              Search Course
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- search section end -->

<!-- Page -->
<section class="contact-page spad pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="contact-form-warp">
          <div class="section-title text-white text-left">
            <h2>Get in Touch</h2>
            <p>Share Your Thoughts With Us.</p>
          </div>
          <form class="contact-form">
            <input type="text" placeholder="Your Name" />
            <input type="email" placeholder="Your E-mail" />
            <input type="text" placeholder="Subject" />
            <textarea placeholder="Message"></textarea>
            <button class="site-btn">Send Message</button>
          </form>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-info-area">
          <div class="section-title text-left p-0">
            <h2>Contact Info</h2>
            <p>
              We'd love to hear from you! Get in touch with us and we'll get
              back to you as soon as we can.
            </p>
          </div>
          <div class="phone-number">
            <span>Direct Line</span>
            <h2>+2348091356855</h2>
          </div>
          <ul class="contact-list">
            <li>Sunset <br />Windsor, CA N9B 2A8</li>
            <li>+2348091356855</li>
            <li>contact@coursepro.com</li>
          </ul>
          <div class="social-links">
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page end -->

{% endblock content %}
